<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.swaglabs.Listeners.CustomListener" />
		<listener class-name="com.swaglabs.Reports.ExtentReportListener" />
		<listener class-name="com.swaglabs.Utils.TransformerForRetry" />

	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.lekshmi.swaglabs.Tests.SwagLabTest" />
			<class name="com.lekshmi.swaglabs.Tests.CompleteTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->